@import "../../sass/partials/abstracts/mixins";
@import "../../sass/partials/layout/main";

.wrapper {
  margin: var(--margin);
  padding: var(--padding);
  box-shadow: var(--box-shadow-neo2);
  border-radius: var(--border-radius);
  width: 96.5%;
  height: auto;
  background-color: var(--color-2-normal);
}
